// Import the Akzidenz Grotesk BQ Medium font
@import "fonts/akzidenz-grotesk-bq-medium.scss";

// Define variables
$font-family: "Akzidenz Grotesk BQ Medium", sans-serif;
$background-color: #f4f4f4;
$button-color: #13aa52;

// Define mixins
@mixin form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

// Define CSS classes
body {
  font-family: $font-family;
  background-color: $background-color;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin-top: 576px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: lighter;
}

.form-input {
  @include form-input;
}

.checkbox-group {
  margin-top: 5px;
  margin-left: 20px;
}

button {
  align-content: center;
  background-color: $button-color;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
}

// Extend the button-37 class to use the form-input mixin
.button-37 {
  @extend .form-input;
}

// Add media query to increase the padding of the button-37 class on larger screens
@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}
